@import "./fonts.css";
@import "./reset.css";

p,
ul,
ol {
  font-size: 20px;
  line-height: 32px;
  font-family: "Bookmania-Regular", "Times New Roman", Times, serif;
}
ul,
ol {
  /* Make the font narrower */
  transform: scaleX(0.87);
  transform-origin: 0 100%;
}
